<div class="space-y-4 border-t border-gray-200 mt-6 pt-6">
  <h4 class="font-bold text-gray-800 text-lg uppercase mb-4 tracking-wider"><%= "Dados do Documento: TERMO DE RESPONSABILIDADE E ADOÇÃO DE ANIMAL" %></h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">ID do Processo de Adoção</label>
      <input type="text" name="document_data[adoption_id]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Nome do Animal</label>
      <input type="text" name="document_data[animal_name]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Adotante</label>
      <input type="text" name="document_data[adopter_name]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">CPF</label>
      <input type="text" name="document_data[adopter_cpf]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Endereço Completo</label>
      <input type="text" name="document_data[adopter_address]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Data de Validade</label>
      <input type="date" name="document_data[date_of_agreement]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Condições Especiais da Adoção</label>
      <textarea name="document_data[special_conditions]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
  </div>
</div>
