<div class="space-y-4 border-t border-gray-200 mt-6 pt-6">
  <h4 class="font-bold text-gray-800 text-lg uppercase mb-4 tracking-wider"><%= "Dados do Documento: RELATÓRIO CLÍNICO DE ACOMPANHAMENTO (L.T.)" %></h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">ID LT</label>
      <input type="text" name="document_data[foster_care_id]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Data de Visita</label>
      <input type="date" name="document_data[report_date]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Condição Geral</label>
      <input type="text" name="document_data[animal_condition]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Peso</label>
      <input type="text" name="document_data[weight_current]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Notas Comportamentais</label>
      <textarea name="document_data[behavioral_notes]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Notas de Saúde</label>
      <textarea name="document_data[health_notes]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Feedback</label>
      <textarea name="document_data[foster_feedback]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Proxima Visita</label>
      <input type="date" name="document_data[next_visit_date]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
  </div>
</div>
