<div class="space-y-4 border-t border-gray-200 mt-6 pt-6">
  <h4 class="font-bold text-gray-800 text-lg uppercase mb-4 tracking-wider"><%= "Dados do Documento: LAUDO CLÍNICO VETERINÁRIO" %></h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Ref Animal</label>
      <input type="text" name="document_data[animal_id]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Prontuário Referencia (Opcional)</label>
      <input type="text" name="document_data[health_record_id]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Nome do Responsável</label>
      <input type="text" name="document_data[vet_name]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">CRMV</label>
      <input type="text" name="document_data[vet_crmv]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Diagnóstico Conclusivo ou Preliminar</label>
      <textarea name="document_data[diagnosis]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Plano de Intervenção Terapêutica</label>
      <textarea name="document_data[treatment]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="md:col-span-2">
      <label class="block text-sm font-semibold text-gray-700">Laudos Paralelos</label>
      <textarea name="document_data[observations]" rows="4" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border"></textarea>
    </div>
    <div class="">
      <label class="block text-sm font-semibold text-gray-700">Data de Emissão</label>
      <input type="date" name="document_data[date]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm px-3 py-2 border" />
    </div>
  </div>
</div>
